---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h2 class="post-name"> {{ page.name }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y, %l:%M %p" }}
      {% if page.location %} • {{page.location}} {% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

{% if page.videourl %}
<a class="event-video-link" href="{{ page.videourl }}"> Fields Live Video </a>
{% endif %}

</div>
